@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #06070D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Add these styles to your CSS */
.image-container {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  display: block;
  transition: transform 0.2s; /* Add a smooth transition for the transform property */
}

.image:hover {
  transform: scale(0.95); /* Scale the image to 95% on hover */
}

/* scrollbar.css */
/* Track */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #7D1015; /* Adjust the thumb color */
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #15191E; /* Adjust the track color */
}
